@import "src/variables";

.contacts-info__content p{
  margin-bottom: $margin;
  font-weight: 300 !important;
}

.contacts-info__card{
  padding: $margin;
  border: 2px solid red;
  border-top-width: 0;
  background-color: $light-color;
}
