<section class="ntfound-page first-slide" style="min-height:100vh">
    <div class="container-fluid center">
        <div class="wrap-md-pd">
            <div class="wrap-md">
                <div class="ntfound-page__links">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/">Главная</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a routerLink="/404">404</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ntfound-page__content wrap-md-pd  center flex-column">
                    <h5 class="headline-md text-center">
                        Данной страницы не существует
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
