.order-counter{
    max-width: 70px;
    margin-top: 10px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

table{
    position: relative;
    z-index:10;
}