<section class="product product-sm section first-slide center position-relative">
  <mat-drawer-container class="w-100">
    <mat-drawer-content>
      <div class="w-100 center align-items-start ">
        <div class="product__area center w-100">
          <div *ngIf="!post" class="center pt-4" style="height:60vh;">
            <mat-spinner color="accent"></mat-spinner>
          </div>
          <ng-container *ngIf="post">
            <div class="product__content wrap-md center" *ngIf="post">
              <div class="product__wrap wrap-md-pd pt-4">
                <div class="product__bread-crumps">
                  <app-breadcrumbs [urls]="[['/','Главная'], ['/products','Товары']]"></app-breadcrumbs>
                </div>
                <div class="product__container">
                  <div class="product__title h3 center">{{post.title}}</div>
                  <div class="product__navigation">
                    <app-product-navigation></app-product-navigation>
                  </div>
                  <div class="product__images center" (click)="showImages()" id="images">
                    <div class="w-100 center" style="min-height:70%;">
                      <div class="img-container w-100 position-relative" style="height:100%; width:100%;">
                        <img src="{{post.image.startsWith('/')?(post.image) : ('/'+post.image)}}" alt="">
                        <div (click)="$event.preventDefault()">
                          <app-like [id]="post.id"></app-like>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product__short-descr text-left">
                    <h5>Кратко о товаре</h5>
                    <h6>
                      {{post.short_description}}
                    </h6>
                    <div class="product__price">
                      <div class="product__price-label text-left mb">
                        <span>Цена:</span>
                        <span>{{post.price|currency}}</span>
                      </div>
                      <div class="product__price-label text-left" *ngIf="user.is_auth && maxCount">
                        <span>Количество:</span>
                        <div>
                          <mat-slider color="accent" min="0" max="{{maxCount}}" thumbLabel (input)="count=$event.value">
                          </mat-slider>
                        </div>
                        <div class="mt">
                          <h6 class="product__buy-counter mb-half">Вы хотите купить:
                            <button mat-button color="accent">{{count}} шт.</button>
                          </h6>
                        </div>
                      </div>
                      <div class="product__buy-btn">
                        <button class="bg-warn price-btn" on-click="buyItem()">Купить</button>
                      </div>
                    </div>
                  </div>
                  <!--Start-->
                  <div class="product__info-container center flex-column" id="info">
                    <div class="product__full-descr w-100">
                      <div class="h4 text-center w-100">Описание</div>
                      <div class="w-100" (click)="$event.preventDefault()">
                        <mat-tab-group color="accent" dynamicHeight mat-align-tabs="center" class="product__tabs">
                          <mat-tab label="Характеристики">
                            <div class="product__tab-content  w-100">
                              <charactarictics [data]="charactarictics"></charactarictics>
                            </div>
                          </mat-tab>

                          <mat-tab label="Полное описание">
                            <div class="product__tab-content w-100">
                              <p class="h6">{{post.long_description}}</p>
                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>
                  </div>
                  <!--End-->

                  <div class="product__related center flex-column" id="comments">
                    <div class="product__related-container w-100">
                      <div class="h4 text-center w-100">Отзывы покупателей</div>
                      <div class="w-100 center" (click)="$event.preventDefault()">
                        <div class="product__related-content center flex-column wrap-md w-100">
                          <comments [postId]="postId"></comments>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="product__related center flex-column" id="ads">
                    <div class="product__related-container w-100">
                      <div class="h4 text-center w-100">Другие товары</div>
                      <div class="w-100 center" (click)="$event.preventDefault()">
                        <div class="product__related-content center wrap-md">
                            <div class="product__related-card w-100" *ngFor="let card of products">
                              <card [card]="card" class="center" [showFull]='false'></card>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="product__sidebar center" (click)="showOtherBrands()" hidden>
              <div class="product__sidebar-title h5">
                  {{post.brand | uppercase}}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-drawer-content>

    <mat-drawer #drawer [mode]="'over'" position="end" [opened]="showDrawer">
      <div class="product__drawer w-100">
        <div class="product__drawer-content">
            <div class="product__drawer-title text-center mt">
              <h3 class="mb">Другие товары</h3>
            </div>
            <div class="product__drawer-items">
              <app-grid-layout>
                <div class="product__drawer-item" *ngFor="let otherPost of otherPosts">
                  <card [showButton]="false" [showFull]="false" [card]="otherPost"></card>
                </div>
              </app-grid-layout>
            </div>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</section>
