@import 'src/base';

.product {
    align-items: flex-start;
    background-color: white;
}

p, .h6, h6{
    font-weight: 300 !important;
}

.product__sidebar{
    cursor: pointer;
}

.product__drawer-title  h3{
   @extend .h3;
}

.product__drawer-title  p{
  @extend .h5;
}

.product__title {
    font-weight: 300;
    grid-column: 1/-1;
    text-align: left;
    justify-self: start;
    align-self: center;
}

.product__container {
    padding-top: 1.7rem;
}

.product__area .product__content {
    padding: 2.7rem 0;
}

.product__tab-content {
    padding: 1.5rem !important;
}

.product__short-descr>h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 500;
}

.product__tab-content .h6 {
    position: relative;

    ::before {
        border: 1px solid red;
        border-radius: 50%;
        content: "";
        display: block;
        height: 7px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 7px;
    }
}

.product__related,
.product__info-container {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 1.5rem !important;

    .h4 {
        font-weight: 400;
    }
}

.product__short-descr h5{
  margin-bottom: $margin !important;
  font-weight: 400 !important;
}

.product__related-container,
.product__full-descr {
    padding: 2rem 1.5rem !important;
    width: 100%;
}

.product__full-descr mat-tab-group,
.product__related-content {
    padding: 1.2rem;
}

.product__related-content {
    flex-wrap: wrap;

    .product__related-card {
        flex: 1 1 33%;
        width: 33%;
        max-width: 350px;
        min-width: 250px;
    }
}

.product__price-label>span:nth-child(1) {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
}

.product__price-label>span {
    display: block;
}

.product__price-label>span:nth-child(2) {
    color: red;
    font-size: 25px;
    line-height: 1.5;
    padding: 10px 0;
}

.product__short-descr>p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 13px;
}

.price-btn {
    font-size: 22px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    border: none;
    background-color: red;
    width: 100%;
    font-weight: 300;
}

.product__price {
    margin-bottom: 30px;
    margin-top: 30px;
}

.product__buy-counter {
    font-size: 14px;
    color: #777;
}

comments {
    width: 100%;
}

.product__navigation {
    grid-column: 1/-1;
    justify-self: start;
    width:100%;
}

.product__container {
    display: grid;
    grid-template-rows: 100px auto auto auto;
    grid-auto-rows: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: repeat(12, calc(100% / 12));
    align-items: center;
    justify-items: center;
}

.product__full-descr {
    grid-column: 1/-1;
    width: 90%;
    grid-row-start: 5;
}

.product__info-container {
    width: 100%;
}

.product__area {
    background-color: white;
}

.product__content {
    position: relative;
    align-items: flex-start;
}

.product__sidebar {
    position: fixed;
    right: 0;
    top: 70px;
    width: 50px;
    height: 100%;
    background-color: #ffd740;

    .product__sidebar-title {
        transform: rotate(270deg);
    }
}

.product__drawer-container {
    min-width: 50%;
}

.product__drawer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.5em;
}

.display_grid {
    grid-template-rows: 100px;
    grid-auto-rows: 500px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.products__drawer {
    height: 100%;
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 500px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    width: 100%;

    .h3 {
        grid-column: 1/-1;
        justify-self: center;
    }
}

mat-sidenav {
    width: 200px;
}

.product__images {
    grid-row: 3/4;
    grid-column: span 6;
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.product__ads {
    grid-column: 1/-1;
}

.product__bread-crumps {
    max-width: 500px;
    width: min-content;
    min-width: 300px;
}

.product__short-descr {
    grid-column-end: -1;
    grid-column-start: span 5;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 0;
}

.product__short-descr,
.product__full-descr,
.product__related {
    border: 1px solid #f8f8f8;
}

.product__long-description p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 35px;
}

.product__info-btn {
    margin-right: 30px;
    flex: 1 1 33%;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1.1rem 0;
}

.border-red {
    border-bottom: 3px solid red;
}

.product__info-btn span {
    font-weight: 500;
}

.product__info {
    margin-top: 2rem;
    background-color: #f8f8f8;
}

.product__full-descr {
    padding-top: 1rem !important;
}

.product__short-descr {
    max-width: 500px;
}

.product__short-descr {
    grid-row-start: 3;
}

.product__tab-content {
    padding-top: 2rem;
}

.product__tabs {
    padding: 1.5rem;
}

.product__title {
    text-align: center !important;
    justify-self: center  !important;
}

@media (min-width: 900px) {
    .product__short-desc {
        margin-left: 25px;
    }
}

@media (max-width: 900px) {
    .product__short-descr {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    .product__images {
        align-self: center;
        justify-self: center;
        max-width: 90%;
        grid-column: 1/-1;
        grid-row: 3/4;
    }

    .product__info-container {
        grid-row: 5/6;
        align-self: flex-start;
    }

    .product__short-descr {
        max-width: 700px;
        width: 100%;
    }

    .product__container {
        grid-template-rows: 60px auto 360px auto;
        padding-top: 2.7rem;
    }
}
