<section class="product__categories-list">
  <div class="product__categories-items w-100 d-flex align-items-center justify-content-between">
    <article class="product__category-item">
      <a routerLink="/category/notebooks">
        <img class="product__category-img" src="/assets/yoga.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h5>Планшеты</h5>
          </div>
        </a>
      </a>
    </article>

    <article class="product__category-item">
      <a routerLink="/category/notebooks" #article>
        <img class="product__category-img" src="/assets/phones.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h5>Смартфоны</h5>
          </div>
        </a>
      </a>
    </article>

    <article class="product__category-item">
      <a routerLink="/category/notebooks"  #article>
        <img class="product__category-img" src="/assets/phones.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h5>Ноутбуки</h5>
          </div>
        </a>
      </a>
    </article>

    <article class="product__category-item">
      <a routerLink="/category/notebooks"  #article>
        <img class="product__category-img" src="/assets/phones.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h5>Часы</h5>
          </div>
        </a>
      </a>
    </article>
  </div>
</section>
