<app-section-layout [hasTitle]="false" cssClass="delivery">
  <div class="warranty-policy__breadcrumbs w-100 center justify-content-start">
    <app-breadcrumbs [urls]="urls"></app-breadcrumbs>
  </div>
  <div class="warranty-policy__title text-center W-100">
    <h3>Гарантийная политика</h3>
  </div>
  <div class="warranty-policy__content h6">
    <p>
      Обращаем внимание потребителей, что производитель продукции в соответствии с требованиями действующего законодательства Украины о защите прав потребителей, обеспечивает надлежащую работу своей продукции, в том числе компонентов изделий, в течение гарантийного срока и такой срок указывается в Гарантийном талоне.
    </p>
    <p>
      Стоит помнить, что гарантийный срок продукции исчисляется со дня передачи (продажи) товара потребителю, поэтому важно требовать и сохранять на будущее гарантийный талон продавца продукции и чек (расчетный документ).
    </p>
    <p>
      Именно на основании этих двух документов осуществляется гарантийное обслуживание вашего товара.
    </p>
  </div>
</app-section-layout>
