.header-top{
    width:100%;
    position: relative;
    z-index:2;
}

.header-top__auth-links a{
    font-weight:500;
    margin:0 7px;
}

.header-top__auth-links a:hover{
        color: #f56300 !important;
}

.header-top__container{
    padding: 15px 10px !important;
}