<section class="auth section first-slide center">
    <div class="auth__wrap wrap-md-pd center w-100" *ngIf="!user.is_auth">
        <div class="center w-100">
            <div class="d-flex center flex-column w-100">
                <div class="auth__form shadow">
                    <div class="auth__headline h3  text-center">
                        {{'Вход в систему' | uppercase}}
                    </div>
                    <mat-tab-group (selectedTabChange)="click($event)" color="accent" mat-align-tabs="center" [selectedIndex]="selectedIndex">
                        <mat-tab label="{{'Вход'.toUpperCase()}}">
                            <ng-template [ngTemplateOutlet]="formTemplate" [ngTemplateOutletContext]="{isLog:true}">
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{'Регестрация'.toUpperCase()}}">
                            <ng-template [ngTemplateOutlet]="formTemplate" [ngTemplateOutletContext]="{isLog:false}">
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <div class="center" *ngIf="user.is_auth">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</section>



<ng-template #formTemplate let-isLog="isLog">
    <form [formGroup]="form">

        <mat-card class="d-flex center flex-column">
            <mat-card-content class="w-100">
                <div class="auth__items wrap-md center flex-column w-100">
                    <div class="auth__email mb-half" *ngIf="!isLog">
                        <mat-form-field appearance="outline" class="w-100" color="accent">
                            <mat-label>Почта</mat-label>
                            <input type="email" matInput [formControl]="email" maxlength="30" minlength="10" required>
                            <mat-hint>Максимум - 30 букв, минимум 10</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="auth__username mb-half">
                        <mat-form-field appearance="outline" class="w-100" color="accent">
                            <mat-label>Имя пользователя</mat-label>
                            <input type="text" matInput formControlName="username" maxlength="30" minlength="10"
                                required />
                            <mat-hint>Максимум - 30 букв, минимум 10</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="auth__password mb-half">
                        <mat-form-field appearance="outline" class="w-100" color="accent">
                            <mat-label>Пароль</mat-label>
                            <input type="password" matInput formControlName="password" maxlength="30" minlength="10"
                                required>
                            <mat-hint>Максимум - 30 букв, минимум 10</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-content *ngIf="form.touched">
                <div class="auth__error center" *ngIf="!isValid ">
                    <button mat-button color="warn">Проверьте правильность введенных данных</button>
                </div>
            </mat-card-content>
            <mat-card-content *ngIf="showStatus">
                <div class="auth__error center">
                    <button mat-button color="warn">
                        {{showStatus}}
                    </button>
                </div>
            </mat-card-content>
            <mat-card-content class="w-100 center d-flex center">
                <button mat-flat-button
                        [disabled]="!isValid"
                        color="accent"
                        (click)="submit($event)"
                        class="wrap-md auth__btn">{{isLog?"Войти":"Зарегестрироваться"}}</button>
            </mat-card-content>
        </mat-card>
    </form>
</ng-template>
