{% extends "admin/base_site.html" %}
{% block content %}
    {{ block.super }}
   <section class="banner center">
        <div class="wrap-md-pd center">
                <div class="banner__content center flex-column">
                     <h1 class="banner__title text-center">Welcome,{{user.username}}</h1>
                     <div>
                         <p class="banner__descr">create, update and delete</p>
                     </div>
                     <a class="btn-linear shadow banner__btn" href='#models'>Learn more</a>
                </div>
        </div>
   </section>
   <section class="section-pd models center " id="models">
       <div class="wrap-md-pd">
           <h3 class="headline-md text-center">{{"Visit"|upper}}</h3>
           <div class="models__content">
               <div class="models__items">
                   {% for model in models%}
                    <div class="jumbotron shadow text-center">
                        <h1 class="display-4 ">{{model.name |upper}}</h1>
                        <p class="lead">
                            <span>on the page you can</span>
                            <ul class="models__perms">
                                {% for key,value in model.perms.items%}
                                  {%if value%}
                                  <li class="models__perm shadow center">{{key}} {{model.object_name.lower}}</li>
                                  {%endif%}
                                {%endfor%}
                            </ul>
                        </p>
                        <hr class="my-4">
                        <a class="btn btn-primary btn-lg btn-beauty btn-linear" href="{{model.admin_url}}" role="button">Learn more</a>
                    </div>
                   {% endfor %}
               </div>
           </div>
       </div>
   </section>
{% endblock %}
