<section class="section  product center first-slide" #productsElem>
    <div class="section__content center ">
        <div class="section__wrap wrap-md-pd text-center" >
          <div class="section__bread-crumps">
              <app-breadcrumbs [urls]="urls"></app-breadcrumbs>
          </div>
          <h3 class="section__headline">{{"Наши товары" | uppercase}}</h3>
          <ng-container>
            <ng-content></ng-content>
          </ng-container>
          <div class="product__carousel">
            <app-carousel [images]="carouselImages"></app-carousel>
          </div>
          <div class="product__categories">
            <app-products-categories></app-products-categories>
          </div>
          <div class="product__wrap center align-items-start">
               <ng-container *ngIf="!showModel">
                   <ng-container *ngTemplateOutlet="search"></ng-container>
               </ng-container>

               <div class="product__area center flex-column">
                  <div class="product__content"  @fadeInOut *ngIf="!disabled && products.length" >
                       <card [card]="card" *ngFor="let card of products"class="center"></card>
                  </div>
                  <div class="product__loading center" *ngIf="!isEmpty && sentHttp">
                    <div class="center wrap-md">
                      <div class="spinner-border text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div class="product__empty center" *ngIf="isEmpty && !sentHttp">
                      <div class="center wrap-md text-center">
                            <div class="h5">No results</div>
                      </div>
                  </div>
                  <div class="product__next center w-100 " *ngIf="hasNext && products.length">
                    <div class="product__next-btn w-100">
                       <button on-click="showNext()">Больше</button>
                    </div>
                  </div>
              </div>

               <div class="product__expand-search center  wrap-md" *ngIf="showModel">
                    <div class="product__expand-btn mr">
                        <button mat-flat-button color="accent" on-click="showMenu()">
                           <span class="h6 txt-bold">Фильтры</span>
                        </button>
                    </div>
                    <div class="product__expand-queries">
                       <app-categories-list
                         [activeCategory]="activeCategory"
                         [activeBrand]="activeBrand"
                         [priceStr]="activePrice()"
                       ></app-categories-list>
                    </div>
              </div>
          </div>
        </div>
    </div>
  </section>


<ng-template #mediaSearch>
    <div class="w-100 position-relative" id="product__search-media">
       <ng-container *ngTemplateOutlet="search"></ng-container>
       <div class="product__search-close">
         <button mat-fab color="accent" (click)="close()">
           <mat-icon>close</mat-icon>
         </button>
       </div>
    </div>
</ng-template>


  <ng-template #search>
      <div class="product__search w-100 text-center center" >
        <mat-card class="shadow bg-white product__search-wrap" #product_search>
          <div class="wrap-md center flex-column">
            <mat-card-content>
              <mat-card-title class="product__search-title text-center h5">{{"Поиск"|uppercase}}</mat-card-title>
            </mat-card-content>
            <mat-card-content class="w-100">
              <div class="product__search-area">
                <div class="product__search-card" *ngIf="!isCategoryPage">
                  <h6>Категория</h6>
                  <mat-form-field appearance="outline" class="w-100" color="accent">
                    <mat-label>Выбрать</mat-label>
                    <mat-select color="warn" on-selectionChange="getBrands($event)">
                      <mat-option value="" selected>Всё</mat-option>
                      <mat-option *ngFor="let category of categories" value="{{category}}">{{category}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="product__search-card" *ngIf="isCategoryPage">
                  <h6>Категория</h6>
                  <mat-slide-toggle color="accent" [checked]="true" (toggleChange)="undoCategory()" class="center" style="height: auto;
    padding-top: 10px;">
                      <div class="mb-0">
                        <p class="text-left mb-0">Только в категории <span style="color: #ffd740;"> '{{activeCategory}}'</span>
                        </p>
                      </div>
                  </mat-slide-toggle>
                </div>

                <div class="product__search-card">
                  <h6>Бренд</h6>
                  <mat-form-field appearance="outline" class="w-100" color="accent">
                    <mat-label>Выбрать</mat-label>
                    <mat-select color="warn" (selectionChange)="changeBrand($event)">
                      <mat-option value="" selected>Всё</mat-option>
                      <mat-option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="product__search-card w-100">
                    <div>
                      <h6>Минимальная цена</h6>
                      <mat-slider min="0" max="{{maxPriceValue}}" class="w-100" value="0" (input)="minPrice=$event.value" thumbLabel>
                      </mat-slider>
                      <mat-chip-list aria-label="Min price">
                        <mat-chip color="accent" selected>{{minPrice}}грн
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                </div>

                <div class="product__search-card w-100">
                  <div>
                    <h6>Максимальная цена</h6>
                    <mat-slider min="0" max="{{maxPriceValue}}" class="w-100" value="{{maxPriceValue}}" (input)="maxPrice=$event.value" thumbLabel>
                    </mat-slider>
                    <mat-chip-list aria-label="Min price">
                      <mat-chip color="accent" selected>{{maxPrice}}грн</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>

                <div class="product__search-card w-100" *ngIf="isSearchPage">
                    <mat-slide-toggle color="accent" [checked]="true" (toggleChange)="undoSearch()">
                        <span>В поиск будут включаться только товары, которые содержат '{{searchText}}'</span>
                    </mat-slide-toggle>
                </div>
              </div>
            </mat-card-content>
            <mat-card-content class="w-100 pt-3">
              <button mat-raised-button color="warn" class="bg-warn w-100" on-click="sort()">Найти</button>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
  </ng-template>
